altgraph
aniso8601
APScheduler
backports.zoneinfo;python_version<"3.9"
certifi
charset-normalizer
click
colorama
Flask
Flask-RESTful
Flask-SQLAlchemy
Flask-Testing
future
greenlet
idna
itsdangerous
Jinja2
#jsonrpyc
#logger-setup@ git+https://github.com/HelloMorrisMoss/logger_setup.git@7f1ff24a444147ade2bc389905915b34dc063cb6
MarkupSafe
numpy
pandas
pefile
Pillow
plumbum
#protobuf
psycopg2
#pyinstaller
#pyinstaller-hooks-contrib
pypiwin32
python-dateutil
pytz
pytz-deprecation-shim
pywin32
pywin32-ctypes
requests
#rpyc
six
SQLAlchemy
ttkwidgets
tzdata
tzlocal
urllib3
waitress
Werkzeug
